body
{
    background-color: #AEF3E7;
    color: #DC6BAD;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
    text-align:center;
}
input
{
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
}
button
{
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
}
.comment
{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:5%;
}
.pfp, p
{
    border-radius: 50%;
    width: 5%;
    display: inline-flex;
}
#input
{
    position:absolute;
    bottom: 0;
    margin-bottom: 1.5%;
}
p,button,input
{
    font-size: 1.5rem;
}
#back
{
    position:absolute;
    top:0;
    left:0;
    margin-top:1.25%;
}