body
{
    background-color: #88BDBC;
    color: #112D32;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align:center;
}
input
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
} 
button
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.comment
{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:5%;
}
.pfp
{
    border-radius: 50%;
    width: 5%;
    margin-right: 1.5%;
}
#input
{
    position:absolute;
    bottom: 0;
    margin-bottom: 1.5%;
    margin-top: 5%;
}
p,button,input,b
{
    font-size: 1.5rem;
}
#back
{
    position:absolute;
    top:0;
    left:0;
    font-size: 2rem;
}
h1
{
    font-size: 5rem;
    animation-name: scaleUp;
    animation-duration: 2s;
}
b
{
    margin-right: 1%;
}
@keyframes scaleUp 
{
    0%
    {
        opacity: 0%;
        scale: 0%;
        margin-top: 200%;
    }
    50%
    {
        opacity: 0%;
    }
    100%
    {
        margin-top: 2.75%;
        scale: 100%;
        opacity: 100%;
    }
}