body
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #88BDBC;
    margin: 0;
}
h1
{
    text-align: center;
    font-size: 9.5rem;
    margin-bottom: 0;
    color: #112D32;
    animation-name: slideFromTop;
    animation-duration: 2s;
}
#right
{
    position: absolute;
    right: 0%;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    animation-name: scale;
    animation-duration: 2s;
}
#right > input
{
    margin-bottom: 10%;
}
#left
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0%;
    width: 45vw;
    height: 100vh;
    margin-bottom: 10%;
    animation-name: scale;
    animation-duration: 2s;
    color: #88BDBC;
}
textarea
{
    height: 20vh;
    margin-bottom: 1%;
}
textarea, button
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.75rem;
}
#back
{
    background-color: #254E58;
    border: solid 2.5px;
}
#back > img
{
    fill: #EEEEEE;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(104%) contrast(103%);
}
#back:hover
{
    border-color: floralwhite;
}
#right > a > button
{
    background-color: #254E58;
    color: floralwhite;
    border: solid 2.5px black;
}
#right > a > button:hover
{
    border-color:floralwhite;
}
#back
{
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 1.5rem;
    animation-name: scale;
    animation-duration: 2s;
}
h2
{
    font-size: 3rem;
}
p
{
    text-align: justify;
    font-size: 1.5rem;
}
h2, p
{
    margin-left: 1.25%;
}
#phone, #office, #fax
{
    background-color: #112D32;
}
@keyframes scale 
{
    0%
    {
        opacity: 0%;
        scale: 0%;
    }
    100%
    {
        opacity: 100%;
        scale: 100%;
    }
}
@keyframes slideFromTop
{
    0%
    {
        margin-top: 200%;
        opacity: 0%;
    }
    100% 
    {
        margin-top: 4%;
        opacity: 100%;
    }
}