body
{
    background-color: #AEF3E7;
    background-color: #D6FFF6;
    color: #DC6BAD;
    color: #AEF3E7;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
    text-align:center;
}
nav
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
    background-color: #8C7AA9;
    border: solid 2px;
}
li
{
    background-color: #AEF3E7;
    font-size: 2.5rem;
}
#option3 > li
{
    font-size: 2rem;
}
div
{
    margin-bottom: 100%;
    border: solid 2px black;
    color: #DC6BAD;                                   
}
.options:hover
{
    border: solid 5px floralwhite;
}