body
{
    background-color: #AEF3E7;
    background-color: #D6FFF6;
    color: #DC6BAD;
    color: #AEF3E7;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
    text-align:center;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 0px;
}
li
{
    font-size: 2.5rem;
}
.options
{
    border: 2px solid black;
    background-color: #AEF3E7;
    text-align:center;
    height: 9.5vh;
}
#option1
{
    margin-left: 0%;
}
div
{  
    color: #DC6BAD;
    margin-right: 1%;                                   
}
.options:hover
{
    border: solid 2px floralwhite;
}
.feed
{
    width: 100%;
    height: 100%;
}
.post
{
    width: 30%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 7.5%;
}
.picture > img
{
    width: 100%;
    border: solid 2px;
    height: 100%;
}
.caption
{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-left: 0%;
    margin-bottom: 2.5%;
}
.pfp
{
    width: 7.5%;
    height: 5%;
    border-radius: 50%;
    border: solid 1px;
    margin-right: 2.5%;
}
.postButton
{
    width: 30%;
    border: 2px solid black;
    background-color: #AEF3E7;
    color: #DC6BAD;
    text-align:center;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 1rem;
}
.postButton:hover
{
    border: solid 2px floralwhite;
}
a
{
    text-decoration: none;
}
#back
{
    position: absolute;
    left: 0%;
    top: 0%;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
}
h1
{
    color:#DC6BAD
}