h1, p, button, textarea
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
h1
{

    margin-top: 10;
    text-align: center;
    font-size: 7.5rem;
    font-weight: 700;
    animation-name: slideFromTop;
    animation-duration: 2s;
}
#button
{
    position: absolute;
    left: 0%;
    width: 10%;
}
body
{
    background-color: #88BDBC;
    color: #112D32;
    margin: 0;
}
#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea
{   
    top: 70%;
    width: 30vw;
    height: 15vh;
    margin-bottom: 1%;
    font-size: 1.5rem;
}
#drivelink
{
    margin-bottom: 15%;
    font-size: 1.5rem;
    margin-left: 12.5%;
}
#drivelink :hover
{
    border-color: #112D32;
}

#post
{
    width: 15vw;
    height: 5vh;
    background-color: #112D32;
    color: white;
    border: solid 2.5px black;
    font-size: 1.5rem;
    margin-bottom: 5%;
}
#post:hover
{
    border-color: floralwhite;
}
p
{
    font-size: 2rem;
}
#back
{
    font-size: 1.5rem;
    animation-name: fadeIn;
    animation-duration: 3s;
    background-color: #112D32;
    border: solid 2.5px;
}
#back > img
{
    fill: #EEEEEE;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(104%) contrast(103%);
}
#back:hover
{
    border-color: floralwhite;
}
@keyframes slideFromTop
{
    0%
    {
        scale: 0%;
        margin-top: 200%;
        opacity: 0%;
    }
    100% 
    {
        margin-top: 4%;
        opacity: 100%;
        scale: 100%;
    }
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
} 