body
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #88BDBC;
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
}
#profileInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 100vw;
    background-color: #254E58;
    color: #88BDBC;    
}
#pfp
{
    border-radius: 50%;
    height: 10vh;
}
h1
{
    font-size: 5rem;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
#bio
{
    margin-top: 20%;
}
.line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}
table
{
    border-spacing: 20%;
}
table > tr, th, td
{
    margin-bottom: 25%;
    margin-right: 25%;
    text-align: center;
}
th
{
    padding: 10px;
}
.line
{
    margin-bottom: 5%;
}
.line > a > img
{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}
#follow
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #88BDBC;
    margin-top: 1%;
    font-size: 2rem;
    border: solid 3px;
}
#follow:hover
{
    color: floralwhite;
    border-color: floralwhite;
}
.post
{
    opacity: 90%;
    border: solid 3px #112D32;
}
#back
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #88BDBC;
    font-size: 1.5rem;
    position: absolute;
    width: 5%;
    left: 0%;
    border: solid 2.5px;
}
#back:hover
{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(104%) contrast(103%);
    border-color: floralwhite;
}
.post:hover
{
    opacity: 100%;
    border-color: floralwhite;
} 
#posts
{
    animation-name: fadeIn;
    animation-duration: 4s;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}
@keyframes scale 
{
    0%
    {
        opacity: 0%;
        scale: 0%;
    }
    100%
    {
        opacity: 0%;
        scale: 100%;
    }
}
