body
{
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
    background-color: #AEF3E7;
    background-color: #D6FFF6;
    color: #DC6BAD;
}
button, input
{
    display: inline-flex;
    font-family: 'Dangrek', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Sixtyfour', sans-serif;
}
h1
{
    margin: 0;
    font-size: 5rem;
    text-align: center;
    animation-name: slideFromTop;
    animation-duration: 2s;
}
#searchBar
{
    display: flex;
    justify-content: center;
    gap: 0.5%;
    margin-top: 2.5%;
    animation-name: bounce;
    animation-duration: 2s;
}
#searchButton, #searchText
{
    font-size: 1.5rem;
}
#back
{
    font-size: 1.5rem;
    animation-name: scale;
    animation-duration: 2s;
}
@keyframes bounce
{
    0%
    {
        scale: 0%;
        opacity: 0%;
    }
    50%
    {
        scale: 150%;
    }
    100%
    {
        scale: 100%;
        opacity: 100%;
    }
}
@keyframes slideFromTop
{
    0%
    {
        margin-top: 300%;
        opacity: 0%;
    }
    100%
    {
        margin-top: 0%;
        opacity: 100%;
    }
}
@keyframes scale 
{
    0% 
    {
        scale: 0%;
    }
    100%
    {
        scale: 100%;
    }
}