body
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #88BDBC;
    color: #112D32;
    margin: 0;
}
button, input
{
    display: inline-flex;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #112D32;
}
input
{
    width: 50%;
}
h1
{
    margin: 0;
    font-size: 7.5rem;
    text-align: center;
    animation-name: slideFromTop;
    animation-duration: 2s;
}
#searchBar
{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    animation-name: bounce;
    animation-duration: 2s;
}
#searchBar > button, #back
{
    background-color: #254E58;
    border: solid 2.5px;
}
#searchBar > button > img, #back > img
{
    fill: #EEEEEE;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(104%) contrast(103%);
}
#searchBar > button:hover, #back:hover
{
    border-color: floralwhite;
}
#searchButton, #searchText
{
    font-size: 1.5rem;
}
#back > svg > img
{
    width: 60px;
}
#back
{
    position: absolute;
    top: 0%;
    left: 0%;
    animation-name: scale;
    animation-duration: 2s;
}
#results
{
    text-align:center;
    font-size: 2rem;
}
#results:hover
{
    color: floralwhite;
}
@keyframes bounce
{
    0%
    {
        scale: 0%;
        opacity: 0%;
    }
    50%
    {
        scale: 150%;
    }
    100%
    {
        scale: 100%;
        opacity: 100%;
    }
}
@keyframes slideFromTop
{
    0%
    {
        margin-top: 300%;
        opacity: 0%;
    }
    100%
    {
        margin-top: 0%;
        opacity: 100%;
    }
}
@keyframes scale 
{
    0% 
    {
        scale: 0%;
    }
    100%
    {
        scale: 100%;
    }
}