body
{
    background-color: #88BDBC;
    color: floralwhite;   
}
h1
{
    font-size: 9rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  
    animation-name: scaleSlide;
    animation-duration: 2s;  
}
.line
{
    margin-bottom: 2.5%;
    font-size: 2.5rem;
}
label
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #112D32;
}
input, button
{
    background-color:  #254E58;
    color: floralwhite;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    width: 30%;
    border-radius: 30px;
    padding: 8px;
}
button
{
    font-size: 2.5rem;
    border: solid 3px black;
}
button:hover
{
    color:floralwhite;
    background-color:#112D32;
    border-color:floralwhite;
}
button:active
{
    transform: scale(0.95);
}
#line1
{
    animation-name: slideRight;
    animation-duration: 0.5s;
}
#line2
{
    animation-name: slideRight;
    animation-duration: 0.75s;
}
#line3
{
    animation-name: slideRight;
    animation-duration: 1s;
}
#line4
{
    animation-name: slideRight;
    animation-duration: 1.25s;
}
#line5
{
    animation-name: slideRight;
    animation-duration: 1.5s;
}
#line6
{
    animation-name: slideRight;
    animation-duration: 1.75s;
}
#line7
{
    animation-name: slideTop;
    animation-duration: 2.25s;
}
@keyframes scaleSlide
{
    0%
    {
        scale: 0%;
        opacity: 0%;
        margin-top: 200%;
    }
    25%
    {
        opacity: 0%;
    }
    100%
    {
        scale: 100%;
        opacity: 100%;
        margin-top: 0%;
    }
}
@keyframes slideRight
{
    0%
    {
        margin-left: 200%;
        opacity: 0%;
    }
    75%
    {
        opacity: 0%;
    }
    100%
    {
        margin-left: 0%;
        opacity: 100%;
    }
}
@keyframes slideTop
{
    0%
    {
        opacity: 0%;
        margin-top: 300%;
        scale: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
        margin-top: 0%;
        scale: 100%;
    }
}