body
{
    background-color: #AEF3E7;
    background-color: #0C0032;
    background-color: #88BDBC;
    background-color: #112D32;
    color: #DC6BAD;
    color: #EEEEEE;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align:center;
    margin: 0;
}
button
{
    border-radius: 15px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #8C7AA9;
    background-color: #88BDBC;
    background-color: #254E58;
    margin-bottom: 30px;
    font-size: 2.5rem;
    border: solid 5px;
}
button:hover
{
    color:floralwhite;
    /*background-color:#DC6BAD;*/
    border-color:floralwhite;
}
button:active
{
    transform: scale(0.95);
}
h1
{
    font-size: 9rem;
    width: 50vw;
    text-align: center;
    position: absolute;
    margin-top: 25.5%;
    font-weight: 350;
    color: #EEEEEE;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes float
{
    0%
    {
        top: 5%;
    }
    50%
    {
        top: 0%;
    }
    100%
    {
        top: 5%;
    }
}
#left
{
    width: 50vw;
    position: absolute;
    left: 0;
    height: 100vh;
    /*border: solid 2px #282828;
    border-radius: 15px;*/
}
#right
{
    width: 50vw;
    position: absolute;
    right: 0;
    background-color: aliceblue;
    background-color: #112D32;
    background-color: #88BDBC;
    height: 100vh;
    /*border: solid 2px #282828;
    border-radius: 15px;*/
}
#right > #buttons
{
    display: flex;
    flex-direction: column;
}
#buttons
{
    margin-top: 45%;
}
input
{
    font-size: 2.5rem;
    border: solid 5px;
    margin-bottom: 30px;
    border-radius: 15px;
    width: 75%;
    margin-left: 12.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
p
{
    font-size: 2rem;
}